$terra: #2080f0;
$desert: #F2FF00;
$swamp: #6f5a3e;
$oxide: #FF160A;
$titanium: #808080;
$ice: #F8FFF5;
$volcanic: #ffa135;
$gaia: #0a0;
$transdim: #a64dff;
$lost: lightgray;


$rt-trade: orange;
$rt-ship: gray;
$rt-eco:  #ffd700;
$rt-sci:  #79b9f8;
$rt-terra: #856443;
$rt-nav: #516372;
$rt-gaia: #a5589c;
$rt-int: #508344;

$tech-tile:#ddd;
$adv-tech-tile: #6888FA;

$res-knowledge: #2080f0;
$res-qic: green;
$res-ore: #ddd;
$res-credit: #F2FF00;
$res-power: #984FF1;



