$terra: #2080f0;
$desert: #F2FF00;
$swamp: #6f5a3e;
$oxide: #FF160A;
$titanium: #808080;
$ice: #F8FFF5;
$volcanic: #ffa135;
$gaia: #0a0;
$transdim: #a64dff;
$lost: lightgray;
$generic: lightgray;


$rt-trade: orange;
$rt-ship: gray;
$rt-eco:  #ffd700;
$rt-sci:  #79b9f8;
$rt-terra: #856443;
$rt-nav: #516372;
$rt-gaia: #a5589c;
$rt-int: #508344;

$tech-tile: #F2F2F7;
$adv-tech-tile: #6888FA;

$res-knowledge: #2080f0;
$res-qic: green;
$res-ore: #ddd;
$res-credit: #F2FF00;
$res-power: #984FF1;
$res-vp: #248A3D;


$highlighted: #2C4;

$specialAction: #F2F2F7;

$booster-tile: #F2F2F7;

$systemGray0: #6C6C70;
$systemGray1: #8E8E93;
$systemGray2: #AEAEB2;
$systemGray3: #C7C7CC;
$systemGray4: #D1D1D6;
$systemGray5: #E5E5EA;
$systemGray6: #F2F2F7;






