<!doctype html>
<html>
  <head>
    <title>Gaia project</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" href="#">Gaia Project</a>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <canvas id="map">
        </canvas>
      </div>
      <div id="errors"></div>
      <div class="row mt-2">
        <div class="col-md-6 order-2 order-md-1">
          <div id="p1"><div class="text"></div><div class="tiles"></div></div>
          <div id="p2"><div class="text"></div><div class="tiles"></div></div>
          <div id="p3"><div class="text"></div><div class="tiles"></div></div>
          <div id="p4"><div class="text"></div><div class="tiles"></div></div>
          <div id="p5"><div class="text"></div><div class="tiles"></div></div>
        </div>
        <div class="col-md-6 order-1 order-md-2" id="move-panel">
            <div id="move">
              <div id="move-title"></div>
              <div id="move-buttons"></div>
            </div>
            <div>
              <form>
                <div class="form-group">
                  <label for="moves">Moves</label>
                  <textarea class="form-control" rows="4" id="moves" name="moves"></textarea>
                </div> 
                <input type="submit" class="btn btn-primary d-block ml-auto" value="Execute">
              </form>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tooltip bs-tooltip-left" id="tooltip-canvas" role="tooltip">
      <div class="arrow"></div>
      <div class="tooltip-inner">
        Some tooltip text!
      </div>
    </div>
  </body>
</html>